.country{
    background-color: rgb(157, 163, 169);
    border: 2px solid aquamarine;
    margin: 10px;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.country img{
    width: 200px;
}